.round{
    text-align: left;
    margin-left: 1em;
    font-size: 2em;
    color: brown;
}
.completed{
    font-size: 2em;
    color: black;
}
.hint{
    color: rgb(173, 170, 170);
    font-size: 5em;
    text-align: left;
}