.round{
    text-align: left;
    margin-left: 1em;
    font-size: 2em;
    color: brown;
}
.completed{
    font-size: 2em;
    color: black;
}
.hint{
    color: rgb(173, 170, 170);
    font-size: 5em;
    text-align: left;
}
.gameover{
    color: brown;
    font-size: 5em;
    text-align: center;
}
.button{
    padding: 1em 2em;
    border-radius: 1em;
    background-color: aquamarine;
    border: none;
    font-size: 3em;

}
button:hover{
    background-color: rgb(216, 216, 216);
}
button:focus {outline:0;}